header{
    background-color: #23232e;
    justify-content: space-around;
    display: flex;
}
header h1{
    color: rgb(255, 254, 253);
}
header h1 a{
    color: rgb(255, 254, 253);
    text-decoration: none;
}
header nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    font-size: 20px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
}
header nav ul li{
    list-style: none;
    text-decoration: none;
}
header nav ul ul{
    display: none;
    position: relative;
    list-style: none;
    text-decoration: none;
}
header nav ul :hover ul{
    display: block;
    position: absolute;
    list-style: none;
    background-color: #23232e;
    z-index: 1;
}
header nav ul ul li a{
    text-decoration: none;
    color: ivory;
    justify-content: start;
    width: 100px;
}
.letras{
    color: blanchedalmond;
    font-family: Arial;
    font-size: 20px;
}
.card{
    transition: .6s;
}
.card:hover h5{
    text-decoration: underline;
}
.img_carousel{
    height: 720px;
    width: 460px;
}
.link{
    text-decoration: none;
    color: #23232e;
}